.container
{
    width:100% !important;
}
li{
    font-size:smaller !important;
    min-width: 0px !important;
}
*,*:before,*:after
{
    box-sizing:content-box!important;
}
.imgbotoncard
{
    margin-right:2%;
}
.seleccionado{
    color:darkorange;
}