{% extends "layout.html" %}

{% block main %}

<table width="100%">
<tr>
<table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 20px;width: 100%;margin-left:10%;padding: 0;margin: 0;border: none;border-collapse:collapse;" align="center">
    <tr>
        <td style="text-align: center;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;">
            AVISO DE PRIVACIDAD
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>
<table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;width: 100%;padding: 0;border: none;border-collapse:collapse;">
<tr>
<td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    Kristian Ivan Dami&aacute;n Castro    , mejor conocido como quinieleros.com    , con domicilio en  calle magisterio nacional 1432, colonia fovissste humaya, ciudad culiacan, municipio o delegaci&oacute;n culiacan, c.p. 80020, en la entidad de sinaloa, pa&iacute;s M&eacute;xico    , y portal de internet https://quinieleros-landing.appspot.com    , es el responsable del uso y protecci&oacute;n de sus datos personales, y al respecto le informamos lo siguiente:
</td></tr>
<tr><td>&nbsp;</td></tr>

<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
    &iquest;Para qu&eacute; fines utilizaremos sus datos personales?
</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita: 
    <!--[Listado de finalidades en las que el responsable haya indicado que son necesarias para la relaci&oacute;n jur&iacute;dica con el titular en las preguntas 1 y 2 de la Secci&oacute;n IV].--> 
</td></tr>

<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
        <ul></ul></td></tr>
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    <br>De manera adicional, utilizaremos su informaci&oacute;n personal para las siguientes finalidades secundarias que <b>no son necesarias</b> para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atenci&oacute;n:<br> 
    <!--[Listado de finalidades en las que el responsable haya indicado que NO son necesarias para la relaci&oacute;n jur&iacute;dica con el titular en las preguntas 1 y 2 de la Secci&oacute;n IV]. -->
</td></tr>

<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
        <ul><li>Marketing</li><li>Social</li><li>Mercadotecnia o publicitaria</li><li>Prospecci&oacute;n comercial</li></ul></td></tr>
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
</td></tr>

<!--OK-->

		<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    <br>En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted nos puede comunicar lo anterior a trav&eacute;s del siguiente mecanismo:<br><br>correo electronico</td></tr> 

<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
        <br>La negativa para el uso de sus datos personales para estas finalidades no podr&aacute; ser un motivo para que le neguemos los servicios y 
        productos que solicita o contrata con nosotros. <!--<b>En caso de que no manifieste su negativa, se entender&aacute; que autoriza el uso de su 
        informaci&oacute;n personal para dichos fines.</b>--><br>
        </td></tr>

<!-- FIN DE SECCION -->
<tr><td>&nbsp;</td></tr>
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
     &iquest;Qu&eacute; datos personales utilizaremos para estos fines?
</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
    <!--[listado de datos personales o sus categor&iacute;as, seg&uacute;n lo indicado por el responsable en las preguntas 2 y 3 de la Secci&oacute;n V].-->
    
    <!--seccion 5, pregunta 2-->
				<br>
        <ul>		
    
        
		
    <!--seccion 5, pregunta 3-->
        		
		
        </ul></td></tr>


    
<table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
                <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
    <br>&iquest;C&oacute;mo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
    </td></tr>  <tr><td>&nbsp;</td></tr>
    <tr>
     <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    Usted tiene derecho a conocer qu&eacute; datos personales tenemos de usted, para qu&eacute; los utilizamos y las condiciones del uso que les damos (Acceso). 
    Asimismo, es su derecho solicitar la correcci&oacute;n de su informaci&oacute;n personal en caso de que est&eacute; desactualizada, sea inexacta o incompleta 
    (Rectificaci&oacute;n); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no est&aacute; siendo utilizada adecuadamente 
    (Cancelaci&oacute;n); as&iacute; como oponerse al uso de sus datos personales para fines espec&iacute;ficos (Oposici&oacute;n). Estos derechos se conocen como derechos ARCO.</td></tr>
    <tr><td>&nbsp;</td></tr>
		<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    Para el ejercicio de cualquiera de los derechos ARCO, usted deber&aacute; presentar la solicitud respectiva a trav&eacute;s del siguiente medio: <br><br>
     
    <!--[Descripci&oacute;n del medio que haya indicado el responsable en la pregunta 1 de la Secci&oacute;n VII].-->
    
       </td></tr>
	</table>

        
      
</table>

<table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
                <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    <br>Los datos de contacto de la persona o departamento de datos personales, que est&aacute; a cargo de dar tr&aacute;mite a las solicitudes de derechos ARCO, 
    son los siguientes: <br></td></tr><tr><td>&nbsp;</td></tr>
    <!--[Datos proporcionados en la pregunta 5 de la Secci&oacute;n VII]-->
    <tr>
    <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
        
    a) Nombre de la persona o departamento de datos personales: <br>    
    <!--b) Domicilio:-->
        <br>
    
    
    <br>
    <text style="font-weight:bold;">Usted puede revocar su consentimiento para el uso de sus datos personales</text><br><br>
    Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, 
    es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, 
    ya que es posible que por alguna obligaci&oacute;n legal requiramos seguir tratando sus datos personales. 
    Asimismo, usted deber&aacute; considerar que para ciertos fines, la revocaci&oacute;n de su consentimiento implicar&aacute; que no le podamos seguir prestando el 
    servicio que nos solicit&oacute;, o la conclusi&oacute;n de su relaci&oacute;n con nosotros.<br><br>

    Para revocar su consentimiento deber&aacute; presentar su solicitud a trav&eacute;s del siguiente medio: <br><br>
    <!--[Describir los medios indicados en la pregunta 1 de la Secci&oacute;n VIII].--> 
    
        
    <!--[El siguiente texto aparecer&aacute; en caso de que el responsable haya elegido la primera opci&oacute;n de la pregunta 2 de la Secci&oacute;n VIII]:-->
    </td></tr>
        
        

</table>

        <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
    <tr><td>&nbsp;</td></tr>
            <tr>
                <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
        &iquest;C&oacute;mo puede limitar el uso o divulgaci&oacute;n de su informaci&oacute;n personal?
        </td></tr><tr><td>&nbsp;</td></tr>
        <!--[Esta secci&oacute;n s&oacute;lo aparecer&aacute; en el caso de que el responsable haya respondido que s&iacute; en la pregunta 1 de la Secci&oacute;n IX, o bien, haya se&ntilde;alado que le aplica algunos de los registros de la pregunta 3 de esa secci&oacute;n]-->
        <tr>
                <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
        Con objeto de que usted pueda limitar el uso y divulgaci&oacute;n de su informaci&oacute;n personal, le ofrecemos los siguientes medios:<br><br>
        
        <br><br>        
        
                </td></tr><tr><td>&nbsp;</td></tr></table>
        <!--[Informaci&oacute;n proporcionada en la pregunta 5 de la Secci&oacute;n IX]-->
        
        
<!-- SECCION 10 -->



    <!-- SECCON 11-->

<table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
<tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
        <br>&iquest;C&oacute;mo puede conocer los cambios en este aviso de privacidad?</td></tr><tr><td>&nbsp;</td></tr>
    <tr><td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
    El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras 
    propias necesidades por los productos o servicios que ofrecemos; de nuestras pr&aacute;cticas de privacidad; de cambios en nuestro modelo de negocio, 
    o por otras causas.<br>

    <br>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a trav&eacute;s de: 
    <!--[descripci&oacute;n del medio informado en la pregunta 1 de la Secci&oacute;n XI].-->    
    .

        
    <!--[descripci&oacute;n del procedimiento que se haya descrito en la pregunta 3 de la Secci&oacute;n XI].-->
    
    </td></tr>
</table>

<!-- SECCON 13-->



            
            
<table width="100%">
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td  style="text-align: right;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
			&uacute;ltima actualizaci&oacute;n:   11/01/2016		</td>
	</tr>
</table>

<!--<p align="right">
    &uacute;ltima actualizaci&oacute;n 20/may/2013.
</p>-->

<!--FIN: MODELO A-->

{% endblock %}
