{% extends "layout.html" %}
{% block headerstuff %}
<link rel="stylesheet" href="/css/calendario.css">
{% endblock %}
{% block main %}

<div class="row" style="text-align:center">
    <div class="col s12">
        <ul class="tabs" data-bind="foreach: jornadas">
         <li class="tab col s3"><a href="#tab1" data-bind="text: Nombre, attr : { href : '#'+Nombre }, event: {click: $root.ObtengoPartidos }"></a></li>
           
        </ul>
    </div>
    <div  data-bind="foreach: jornadas" style="text-align:center">
        <div class="col s12" data-bind="attr : { id : Nombre } ">
            <div class="row"  data-bind="foreach: $root.partidos">
                <div class="col s12 m4">
                    <div class="card small blue-grey darken-1 ">
                        <div class="card-content white-text">
                            <span class="card-title" data-bind="text: Local.Nombre + ' vs. '+Visitante.Nombre">Card Title</span>
                            
                                <h2 data-bind="text:GolesLocal +'-'+ GolesVisitante" ></h2>
                            
                        </div>
                        <div class="card-action">
                            <a href="#">Local</a>
                            <a href="#">Empate</a>
                            <a href="#">Visitante</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/js/pages/calendarioKO.js"></script>
<script src="/js/endpoint/jornadas.js"></script>
<script type="text/javascript">
    var modelo;
    $(function () {
        modelo = new modeloCalendario();
        ko.applyBindings(modelo);
        modelo.usuario('{{user.email}}');
        modelo.grupo({{ grupo }})
    });
    function postInit() {
        modelo.ObtenerJornadas();
    }
</script>
{% endblock %}