{% extends "layout.html" %}
{% block headerstuff %}
<link rel="stylesheet" href="/css/calendario.css">
{% endblock %}
{% block main %}

<div class="row" >
    <div class="col s12">
        <ul class="tabs" data-bind="foreach: jornadas">
         <li class="tab col s3"><a href="#tab1" data-bind="text: Nombre, attr : { href : '#'+Nombre }, event: {click: $root.ObtengoPartidos }"></a></li>
           
        </ul>
    </div>
    <div  data-bind="foreach: jornadas" style="text-align:center">
        <div class="col s12" data-bind="attr : { id : Nombre } ">
            <div class="row"  data-bind="foreach: $root.partidos">
                <div class="col s12 m4">
                    <div class="card small blue-grey darken-1 ">
                        <div class="card-content white-text">
                            <span class="card-title" data-bind="text: Local.Nombre + ' vs. '+Visitante.Nombre">Card Title</span>
                            
                                <h2 data-bind="text:GolesLocal +'-'+ GolesVisitante" ></h2>
                            
                        </div>
                        <div class="card-action">
                            <a href="#" data-bind="click : $root.MarcoSeleccionado"> Local</a>
                            <a href="#" data-bind="click : $root.MarcoSeleccionado">Empate</a>
                            <a href="#" data-bind="click : $root.MarcoSeleccionado">Visitante</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
        PARA RESULTADOS CORRECTOS O INCORRECTOS
        <i class="material-icons imgbotoncard">thumb_up</i>
        <i class="material-icons imgbotoncard">thumb_down</i>

        PARA RESULTADO SELECCIONADO
        <i class="material-icons imgbotoncard seleccionado">done</i>
    -->
    <div class="fixed-action-btn horizontal" id="menuflotante" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating teal tooltipped " data-position="top" data-delay="50" data-tooltip="Mis Estadisticas"><i class="material-icons">trending_up</i></a></li>
            <li><a href="/profile" class="btn-floating teal tooltipped"  data-position="top" data-delay="50" data-tooltip="Mis Grupos"><i class="material-icons">supervisor_account</i></a></li>
            <li><a class="btn-floating teal tooltipped"  data-position="top" data-delay="50" data-tooltip="grabar estos resultados para todos mis grupos"><i class="material-icons">done_all</i></a></li>
            <li><a class="btn-floating teal tooltipped"  data-position="top" data-delay="50" data-tooltip="Grabar resultados para este grupo"><i class="material-icons">done</i></a></li>
        </ul>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="/js/pages/calendarioKO.js"></script>
<script src="/js/endpoint/jornadas.js"></script>
<script type="text/javascript">
    var modelo;
    $(function () {
        $("#menuflotante").css("bottom",document.getElementById('footer').offsetHeight + 10);
        modelo = new modeloCalendario();
        ko.applyBindings(modelo);
        modelo.usuario('{{user.email}}');
        modelo.grupo({{ grupo }})
    });
    function postInit() {
        modelo.ObtenerJornadas();
    }
</script>
{% endblock %}