{% extends "layout.html" %}
{% block headerstuff %}
<link rel="stylesheet" href="/css/calendario.css">
{% endblock %}
{% block main %}

<div class="row">
    <div class="col s12">
        <ul class="tabs" data-bind="foreach: jornadas">
         <li class="tab col s3"><a href="#tab1" data-bind="text: Nombre, attr : { href : '#'+Nombre }"></a></li>
           
        </ul>
    </div>
    <div  data-bind="foreach: jornadas">
        <div class="col s12" data-bind="attr : { id : Nombre }">aqui van los partidos</div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/js/pages/calendarioKO.js"></script>
<script src="/js/endpoint/jornadas.js"></script>
<script type="text/javascript">
    var modelo;
    $(function () {
        modelo = new modeloCalendario();
        ko.applyBindings(modelo);
        modelo.grupo({{ grupo }})
    });
    function postInit() {
        modelo.ObtenerJornadas();
    }
</script>
{% endblock %}