{% extends "layout.html" %}
{% block headerstuff %}

{% endblock %}
{% block main %}
<div style="min-height:90%;">
    <div class="row" data-bind='foreach: grupos'>
        <div class="col s12 m6">
            <div class="card blue-grey  darken-1">
                <div class="card-content white-text">
                    <span class="card-title" data-bind="text:Nombre"></span>
                </div>
                <div class="card-action">
                    <a href="#">Ver grupo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px; height" id="addGrupo">
    <a class="btn-floating btn-large waves-effect waves-light yellow modal-trigger" ><i class="material-icons">add</i></a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" data-bind="click: addGrupo">Agree</a>
    </div>
</div>
    {% endblock %}

    {% block scripts %}
    <script src="js/pages/profileKO.js"></script>
    <script src="js/endpoint/grupos.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addGrupo").css("bottom",document.getElementById('footer').offsetHeight + 10);
            {% if logged_in %}
            modelo = new modeloProfile();
            ko.applyBindings(modelo);
            setTimeout(function(){ modelo.ObtenerGrupos("{{ user.email }}", "{{ user.name }}");}, 2000)

            {% endif %}

        });
    </script>
    {% endblock %}
